#outline {
    border: 3px solid black;
    width: 50%;
    height: 600px;
    margin: auto;

}

.row {
    width: 500px;
    margin: auto;
    margin-top: 20px;
}

#spinny {
    border: 4px solid black;
    height: 450px;
    

}

#spinny2 {
    border: 4px solid black;
    height: 450px;
    
}

#spinny3 {
    border: 4px solid black;
    height: 450px;
}